@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .btn-1 {
        @apply bg-dreamLabColor1 text-white font-semibold rounded-md;
    }

    .btn-2 {
        @apply bg-dreamLabColor2 text-textColor4 font-semibold rounded-md hover:bg-dreamLabColor2/80 hover:text-textColor4/80;
    }

    .btn-cancel{
        @apply bg-grey6 rounded-md hover:bg-grey2 hover:text-white; 
    }

    .btn-delete{
        @apply bg-red-600 rounded-md text-white hover:bg-red-600/80; 
    }

    .btn-prev{
        @apply border-2 border-dreamLabColor1 rounded-md text-dreamLabColor1 font-semibold;
    }

    .btn-disable{
        @apply border-2 border-dreamLabColor rounded-md text-dreamLabColor1 font-semibold;
    }

    .card-shadow {
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .sub-heading {
        @apply text-lg font-semibold;
    }

    .card-header {
        @apply text-xl font-semibold;
    }

    .admin-outlet-container {
        @apply p-10 py-14 basis-3/5;
    }
}

body {
    background-color: white;
    width : 100%;
    height: 100%;
    min-height : 100vh;
    color : #333333;

}